html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100%;
}

.container-fluid {
    position: absolute;
    top: 0;
    left: 0;
}

.neighborhood-selector {
    margin-top: 30px;
    margin-left: 15px;
/*    margin-left: auto;
    margin-right: auto;*/
/*    width: 20%;
*/}

.place-info {
    line-height: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.place-info .categories {
    color: rgba(0, 0, 0, 0.7);
}

.place-info address {
    color: grey;
}