html {
    height: 100%;
}

body {
    font-family: "Open Sans", RobotoDraft, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map-canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.container-fluid {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
}

.neighborhood-name {
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

.neighborhood-selector,
.neighborhood-name {
    margin-top: 30px;
    border-radius: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.neighborhood-selector input {
    border-radius: 0;
}

.neighborhood-selector button {
    border-radius: 0;
}

.place-info {
    line-height: 1em;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Open Sans", RobotoDraft, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.place-info .categories-titles {
    color: rgba(0, 0, 0, 0.7);
}

.place-info address {
    color: grey;
}

.sidebar {
    margin-top: 15px;
    padding: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.23);
}

.sidebar-title {
    text-align: center;
    background-color: #3f51b5;
    color: #fff;
    padding: 5px;
}

.hide-list-view {
    cursor: pointer;
}

a.hide-list-view:hover {
    text-decoration: initial;
}

.filter-box {
    padding: 10px;
}

.filter-box input {
    border-radius: 0;
}

.list-view {
    background-color: white;
    width: 100%;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-view.collapsing {

}

.categories,
.places {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.category {
    list-style-type: none;
}

.category-header {
    position: relative;
    display: block;
    padding: 10px 15px 10px 15px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

.place {
    padding: 10px;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.place:hover {
    background-color: #f5f9ff;
}

.activated {
    background-color: #f5f9ff;
}

.place-content {
    width: 100%;
    padding: 10px;
}

.place-thumbnail {
    border-radius: 50%;
}

.place-infos {

}

.toggle-visibility {
    display: inline-block;
    float: right !important;
    font-size: 16px;
    padding: 10px;
}

address {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.pac-container {
    font-family: "Open Sans", RobotoDraft, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pac-item {
    padding: 4px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}

.modal-content,
.btn {
    border-radius: 0;
}

